.highlighted-text-green {
  background: linear-gradient(45deg, #00ffd5, #00ff6e) text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0, 255, 110, 0.43) 0px 0px 10px;
}

.highlighted-text {
  background: linear-gradient(45deg, #ff8c8c, #ffe608);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #ffeb3b60;
}
.btn-glow {
  background: #dc143c;
  color: #fff;
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 34px;
  box-shadow: 0 0 0 0 #dc143c;
  animation: glow 1.4s ease-out infinite;
}